		body{
				margin: 0px;
		}
		.logo{
				margin-left: 57px;
		}
		.header {
			    height: 60px;
				background-color: #013580;				
				padding-top: 10px;
		}
		.link_bar{
				background-color: #013580;
				height: 40px;
				padding-left: 40px;
		}
		.link{	
				color: white;
				font-size: 15px;
				font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
				padding:8px;
				border-radius: 3px;
				text-decoration: none;
				margin:16px;
		}
		.link:hover {
				background-color: #1a4a8d;
		}
		.Reg_Log{
				float: right;
				left: 30px;
				margin-right: 100px;
				font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;		
		}			
		.Register, .Login{
				Background-color: white;
				Height: 30px;
				Border-radius: 5px;
				font-weight: bold;
				padding: 6px;
				margin: 5px;
				font-size: 13px;
		}	
		.ListYP{
				background-color: transparent;
				font-weight: bold;
				padding:4px;
				border: solid 1px white;
				Border-radius: 3px;
				color: white;
				padding: 5px;
				margin: 5px;
		}
		.ListYP:hover {
				background-color: #1a4a8d;
		}
		.currencyflag{
				margin-right: 15px;
				color: white;
				font-weight: bolder;
				text-decoration: none;
				position: relative;		
		}
		.currencyflag:hover .tooltip{
			    display: block;
		}
		.tooltip {
				border: solid 1px white;
				background-color: #fe8202;
				padding: 9px;
				font-size: 12px;
				font-weight:  normal;
				display: none;
				position: absolute;
				top: 24px;
				left: 13px;
				width: 60px;
				border-radius: 8px;
		}
		.destinations{
			margin-top: 40px;
			padding: 0 120px 0 120px;
		}
		.imagerow {
				position: relative;	
				display: inline-block;
				border-radius: 3px;
		}
		
		.col-2 .imagerow{
				width: 50%;	
				box-sizing: border-box;	
				padding: 0 12px 10px 0;
		}
		
		.col-3 .imagerow{
				width: calc(100%/3);	
				box-sizing: border-box;
				padding: 0 12px 0 0;
		}
		.imagerow>img {
				width: 100%;
		}
		.city{
				position: absolute;
				top: 20px;
				left: 32px;
				font-size: 25px;
				font-weight: bolder;
				color: white;
				text-decoration: none;
				text-shadow: 1px 1px 1px #000;
				font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
		}	
		.properties{
				font-weight: lighter;
				font-size: 15px;
				text-shadow: 1px 1px 1px #000;
				font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
		}
		
		.pricerow{
				position: absolute;
				bottom: 10px;
				right: 23px;	
				background-color: #07c;
				text-align: right;
				border: 1px solid #07c;
				color: white;
				font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
				font-size: 12px;
				border-radius: 2px;
				padding: 5px;				
		}
		.imagerow:hover{
				transform: scale(1.02);
		}				